body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#myCanvas {
  background-color: #2a5;
}

.file-input-label,
button {
  display: inline-block;
  background-color: white;
  font-size: 20px;
  padding: 5px 7px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
}

input[type="file"] {
  display: none;
}
